@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  margin: 0;  
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #252525;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 35px;
}

.item {
  width: 40%;    
  text-align: center;
}

.item img, .iconImg {
  width: 100%;
  border-radius: 50%;
}

.userName {
  font-size: 60px;
  letter-spacing: 15px;
}

@media (width <= 1300px) {
  .item {
    width: 100%;
  }
  .item img {
    width: 40%;
  }
}
@media (width <= 700px) {
  .userName {
    font-size: 40px;
  }
}
@media (width <= 980px) {
  .item {
    width: 100%;
  }
  .item img {
    width: 60%;
  }
}

.profileBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profileIcon {
  width: 25%;
  /* background: #ff2c2c; */
}
.profileDetail {
  /* background: #ff8b8b; */
  width: 75%;
}
.detailText {
  padding: 40px;
}
.detailText .userName {
  font-size: 34px;
}

@media (width <= 900px) {
  .profileIcon {
    width: 100%;
    text-align: center;
  }
  .profileDetail {
    width: 100%;
  }
  .iconImg {
    width: 50%;
  }
}
@media (width <= 600px) {
  .iconImg {
    width: 80%;
  }
}

hr {
  border: none;
  border-top: 1px solid #dadada;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mySkills {
  padding-bottom: 80px;
}

.mySkills h2 {
  letter-spacing: 3px;
}

.skillsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skillItem {
  text-align: center;
  width: 145px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (width <= 992px) {
  .skillItem {
    width: 100px;
  }
  .mySkills h2 {
    text-align: center;
  }
}
@media (width <= 720px) {
  .skillItem {
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (width <= 550px) {
  .skillItem {
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.userLink {
  font-size: 30px;
  color: #265a9e;
}

.workTitle {
  letter-spacing: 6px;
}

.workContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.workItem {
  background: #f3f3f3;  
  border: 1px solid #ebebeb;
  margin: 10px;
  width: 360px;
  border-radius: 10px;
}

.workContainer::after {
  content: "";  
  margin: 10px;
  width: 360px;
}

.workItem img {
  width: 100%;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.workItemData {
  padding-left: 15px;
  padding-bottom: 10px;
}

.workItem:hover {
  box-shadow: 0px 2px 3px 0.4px#8a8a8a50;
  transition: 0.2s;
}

.workItemData p {
  font-size: 10px;
  color: #858585;
  padding-bottom: 10px;
}

@media (width < 1100px) {
  .workItem {
    width: 80%;
  }
  .workItem img {
    height: 250px;
  }
}
@media (width < 700px) {
  .workItem img {
    height: 240px;
  }
}
@media (width < 600px) {
  .workItem img {
    height: 200px;
  }
}
@media (width < 500px) {
  .workItem {
    width: 100%;
  }
  .workItem img {
    height: 150px;
  }
}
@media (width < 400px) {
  .workItem img {
    height: 130px;
  }
}
@media (width < 350px) {
  .workItem img {
    height: 120px;
  }
}

.link {
  text-decoration: none;
  color: #2e2e2e;
}

.workDetail {
  padding-bottom: 100px;
}
.workDetail p {
  letter-spacing: 3.3px;
  font-size: 14.5px;
}
.workDetail h2{
  letter-spacing: 4.5px;
}
.workDetail img {
  width: 100%;
  border: solid 1px #ebebeb;
  border-radius: 20px;
}
.blogViewTitle {
  letter-spacing: 10px;
}
.blogViewDetail {
  letter-spacing: 5px;
}

.articleBox {
  margin: 10px;
  padding-top: 20px;
}
.articleBox .date {
  font-size: 13px;
  color: #3b3b3b;
  letter-spacing: 5px;
}
.articleBox .head {
  font-size: 12.5px;
  color: #8f8f8f;
  letter-spacing: 3px;
}
.articleBox h3 {
  letter-spacing: 3.5px;
  font-size: 18px;
}

.blogView {
  width: 100%;
  padding-bottom: 80px;
}

.blogDate {
  letter-spacing: 5px;
  font-size: 13px;
  color: #5a5a5a;
}

.blogTitle {
  font-size: 23px;
  letter-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blogHead {
  letter-spacing: 5px;
  font-size: 13px;
  color: #555555;
}

.blogBody {
  letter-spacing: 5px;
}

.blogBody img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.blogBody a {
  color: #2673a7;
}

.blogBody p {
  font-size: 13px;
  margin-bottom: 30.5px;
}

.blogBody h1, .blogBody h2, .blogBody h3 {
  margin-top: 55px;
}

/* viewContainerSystem */
.view-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 800px) {
  .view-container {
    width: 750px;
  }
}
@media (min-width: 1100px) {
  .view-container {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .view-container {
    width: 1170px;
  }
}
