@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fcfcfc;
	margin: 0;  
	font-family: "Noto Sans JP", sans-serif;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	color: #1f1f1f;
}

.App {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

@media (width > 700px) {
	.App {
		width: 650px;
	}
}

.mainContainer {
	display: grid;
	grid-template-columns: 70px auto;
	grid-gap: 30px;
	align-items: center;
}

.userName {
	font-size: 23px;
	letter-spacing: 6px;
	font-weight: bold;
}
.userDetail {
	font-size: 13px;
	letter-spacing: 5px;
}
.displayImage {
	width: 100%;
	border-radius: 50%;
}

.subContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.itemHeading {
	font-size: 22px;
	letter-spacing: 2px;
}

.aboutItem {
	border-radius: 20px;
	filter: drop-shadow(0px 1px 0px #e2e2e2);
	margin: 50px 0;
	padding: 50px 30px;
	width: 100%;
	background: #f4f4f4;
	transition: 200ms;
}

.workItem, .blogItem {
	width: 45%;
	border-radius: 20px;
	filter: drop-shadow(0px 1px 0px #e2e2e2);
	background: #f4f4f4;
	padding: 30px;
	transition: 200ms;
}

@media (width <= 510px) {
	.workItem, .blogItem {
		width: 45%;
		margin: 0;
	}
}

@media (width <= 380px) {
	.workItem, .blogItem {
		width: 43%;
	}
	.itemHeading {
		font-size: 20px;
	}
}

@media (width <= 320px) {
	.itemHeading {
		font-size: 18px;
	}
}

.aboutItem:hover, .workItem:hover, .blogItem:hover{
	transition: 200ms;
	background: #D2D2D2;
	filter: drop-shadow(0px 2px 2px #e2e2e2);
}

.icon {
	padding-bottom: 15px;
	font-size:40px;
}
.copyright {
	padding-top: 100px;
	letter-spacing: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

a {
	text-decoration: none;
	color: #1f1f1f;
}

.fadeInA {
	opacity: 0;
	transform: translateY(20px);
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.fadeInB {
	opacity: 0;
	transform: translateY(50px);
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.fadeInC {
	opacity: 0;
	transform: translateY(80px);
	animation-name: fadeIn;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
}
.fadeInD {
	opacity: 0;
	transform: translateY(90px);
	animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}


/* About */

.profileContainer {
	margin: 42px 0;
	width: 100%;
}
.profileIcon {
	width: 100%;
}
.iconImg {
	width: 20%;
	border-radius: 50%;
}
.profileDetail {
	width: 100%;
}
.userName {
	font-size: 22px;
	letter-spacing: 3px;
	padding: 15px 0;
}
.userLink {
	font-size: 16px;
}
.bioDetail {
	padding: 20px 0;
}
p {
	font-size: 13px;
	letter-spacing: 4.3px;
	line-height: 38px;
}
@media (width <= 540px) {
	p {
		font-size: 12px;
		letter-spacing: 3px;
	}
}
@media (width <= 475px) {
	p {
		font-size: 11.2px;
		letter-spacing: 2.3px;
	}
}
@media (width <= 430px) {
	p {
		font-size: 10.5px;
		letter-spacing: 2px;
	}
}
@media (width <= 404px) {
	p {
		font-size: 10px;
	}
}
@media (width <= 390px) {
	p {
		letter-spacing: 1.5px;
	}
}
@media (width <= 373px) {
	p {
		font-size: 9.5px;
	}
}
@media (width <= 360px) {
	p {
		font-size: 9.3px;
	}
}
@media (width <= 355px) {
	p {
		letter-spacing: 1px;
		font-size: 8.9px;
	}
}
@media (width <= 326px) {
	p {
		font-size: 8.5px;
	}
}
